{{left_sidebar_enabled, right_sidebar_enabled = True, True}}
{{extend 'layout.html'}}

<h2>{{=message}}</h2>

{{if character:}}
<h3>Properties of Your Character</h3>
{{=BEAUTIFY(character)}}
{{else:}}
Login to get information about your EVE Online character.
{{pass}}

{{if wallet:}}
<h3>Your Wallet(s)</h3>
{{for w in wallet:}}
{{if w['balance'] > 0:}}
Wallet {{=w['wallet_id']}} contains {{='{:,.2f}'.format(w['balance']/100.0)}} ISK.
{{pass}}
{{pass}}
{{pass}}

{{block right_sidebar}}
{{end}}
{{block left_sidebar}}
{{end}}

{{if request.is_local:}}
<br /><br /><br />
{{=response.toolbar()}}
{{pass}}
