{{left_sidebar_enabled, right_sidebar_enabled = False, False}}
{{include 'default/style.html'}}
{{extend 'layout.html'}}

<h2>{{=T('Welcome to the EVE Transaction Analyzer')}}</h2>
{{=character}}
{{=summary}}

{{if request.is_local:}}
<br /><br /><br />
{{=response.toolbar()}}
{{pass}}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#summaryTable").DataTable({paging: false});
    }
);
</script>
