{{left_sidebar_enabled, right_sidebar_enabled = False, False}}
{{extend 'layout.html'}}

<style>
table {
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    padding: 3px;
    }
tr, th, td{
    border-width: 1px;
    border-style: solid;
    padding: 0px 5px 0px 5px;
    }
td.number {
    text-align: right;
    }
th.right {
    text-align: right;
    }
th.center {
    text-align: center;
    }
</style>

<h2>{{=message}}</h2>

{{if user:}}
<table style="border-width: 0px;"><tr style="border-width: 0px">
<td style="border-width: 0px">
    {{=IMG(_src=user.portrait, _alt="Character Portrait")}}</td>
<td style="border-width: 0px"><b>{{=user.first_name}} {{=user.last_name or ""}}
    </b>({{=user.registration_id}})<br/>
    {{=user.race}} {{=user.bloodline}} {{=user.ancestry}}<br/>
    Born <i>{{=user.birthday}}</i></td>
<td style="border-width: 0px">{{=IMG(_src=user.corp_logo, _alt="Corporate Logo")}}</td>
<td style="border-width: 0px">Member <i>{{=user.corp_name}}</i></td>
</tr></table>
{{else:}}
Log in to get information about your EVE Online character.
{{pass}}

{{if summary:}}
<h3>Summary of Transactions</h3>
<table>
<tr>
    <th>Item</th><th>Group</th><th>Currently<br/>Own</th>
    <th>Quantity<br/>Bought</th><th>Total<br/>Paid</th><th>Average<br/>Cost</th>
    <th>Quantity<br/>Sold</th><th>Total<br/>Received</th><th>Average<br/>Price</th>
</tr>
{{for row in summary:}}
    <tr><td>{{=row[0]}}</td><td>{{=row[1]}}</td><td class="number">{{=row[2]}}</td>
        <td class="number">{{=row[3]}}</td><td class="number">{{=row[4]}}</td><td class="number">{{=row[5]}}</td>
        <td class="number">{{=row[6]}}</td><td class="number">{{=row[7]}}</td><td class="number">{{=row[8]}}</td>
    </tr>
    {{pass}}
</table>
{{pass}}

<!--Next line was testing the variable transactions...-->
{{if None:}}
<h3>Your Transactions</h3>
{{=BEAUTIFY(transactions)}}
{{pass}}

{{block left_sidebar}}
{{end}}

{{block right_sidebar}}
{{end}}

{{if request.is_local:}}
<br /><br /><br />
{{=response.toolbar()}}
{{pass}}
