{{left_sidebar_enabled, right_sidebar_enabled = False, False}}
{{include 'default/style.html'}}
{{extend 'layout.html'}}

<h2>{{=T('Welcome to the EVE Transaction Analyzer')}}</h2>
{{=character}}
{{=summary}}

{{if request.is_local:}}
<br /><br /><br />
{{=response.toolbar()}}
{{pass}}

<script src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#summaryTable").tablesorter( {sortList: [[0,0]]});
    }
);
</script>
